.footer {
    background-color: rgb(27, 19, 19);
    width: 100vw;
    height: fit-content;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1vh;
    border-top: 1px rgb(49, 48, 48) solid;
    font-size: 1rem;
}

.foot-cont {
    border-top: 1px rgb(49, 48, 48) solid;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .icon {
    width: 2vh;
    padding: 0 0.5rem;
}

@media screen and (max-width:600px) {
    .footer {
        font-size: 0.5rem;
    }
}