.home {
    font-weight: bold;
    width: 100vw;
    max-width: 85%;
    overflow: hidden;
    height: calc(100vh - 6rem);
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.cont {
    font-size: 3rem;
    text-align: center;
}

span {
    color: orangered;
}

.main {
    margin: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
}

a {
    color: white;
}

.btn1 {
    width: fit-content;
    height: auto;
    border: none;
    border-radius: 2rem;
    background-color: orangered;
    color: white;
    font-weight: 600;
    padding: 1rem;
    white-space: nowrap;
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
    margin-top: 2rem;
}

@media screen and (max-width: 480px) {
    .home {
        font-size: 3rem;
    }
    .cont {
        font-size: 2rem;
    }
    .main {
        font-size: 1rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .home {
        font-size: 3rem;
    }
    .cont {
        font-size: 2rem;
    }
    .main {
        font-size: 1rem;
    }
}